# Предобработка данных Ростуризма для собственного дашборда – Внешний туризм

Проблематика работы:
- Выгрузка данных от Ростуризма неудобная, содержит накопленные квартальные значения по годам, вместо значений по кварталам
- Ростуризм умудрились и Дашборд построить только по накопленным значениям, информативность очень скудная
- Нужно предобработать данные с отчетов Ростуризма: https://rosstat.gov.ru/statistics/turizm для построения собственного дашборда для мониторинга основных показателей индустрии

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from numpy import median


pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
in16 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2016', skiprows=4)
in17 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2017', skiprows=4)
in18 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2018', skiprows=4)
in19 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2019', skiprows=4)
in20 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2020', skiprows=4)
in21 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2021', skiprows=4)
in22 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2022', skiprows=4)
in23 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2023', skiprows=4)
in24 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2024', skiprows=4)
in25 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2025', skiprows=4)

out16 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2016', skiprows=4)
out17 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2017', skiprows=4)
out18 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2018', skiprows=4)
out19 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2019', skiprows=4)
out20 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2020', skiprows=4)
out21 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2021', skiprows=4)
out22 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2022', skiprows=4)
out23 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2023', skiprows=4)
out24 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2024', skiprows=4)
out25 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2025', skiprows=4)

In [3]:
in_list =[in16,in17,in18,in19,in20,in21,in22,in23,in24,in25]
out_list =[out16,out17,out18,out19,out20,out21,out22,out23,out24,out25]

In [4]:
#data = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name=None, skiprows=4)
#type(data)

In [5]:
#data.items()

In [6]:
in20

,Unnamed: 0,Январь-март1),Январь-июнь,Январь-сентябрь,Январь-декабрь
0,Всего,3798.24,3864.77,5147.41,6358.96
1,из них из стран:,NaN,NaN,NaN,NaN
2,Абхазия,135.75,135.88,228.11,409.26
3,Австралия,2.22,2.22,2.29,2.36
4,Австрия,5.45,5.48,5.87,6.55
...,...,...,...,...,...
65,Южная Осетия,25.48,25.50,34.66,66.73
66,Южно-Африканская Республика,1.31,1.31,1.38,1.49
67,Япония,12.21,12.21,12.46,12.82
68,Другие страны,85.48,85.82,89.45,94.98
69,1) Данные уточнены в связи с внесением изменен...,NaN,NaN,NaN,NaN

In [7]:
data = pd.DataFrame(columns=['date','country','incoming','outgoing'])

In [8]:
data

Empty DataFrame
Columns: [date, country, incoming, outgoing]
Index: []

In [9]:
a=2015
pd.to_datetime('01-03-'+str(a))

Timestamp('2015-01-03 00:00:00')

In [10]:
for i in range(len(in_list)):
    a=2016+i
    display(a)
    in0 = in_list[i]
    out0 = out_list[i]
    in0.columns = in0.columns.str.replace('Январь-декабрь1)','Январь-декабрь')
    in0.columns = in0.columns.str.replace('Январь-сентябрь1)','Январь-сентябрь')
    in0.columns = in0.columns.str.replace('Январь-июнь1)','Январь-июнь')
    in0.columns = in0.columns.str.replace('Январь-март1)','Январь-март')
    out0.columns = out0.columns.str.replace('Январь-декабрь1)','Январь-декабрь')
    out0.columns = out0.columns.str.replace('Январь-сентябрь1)','Январь-сентябрь')
    out0.columns = out0.columns.str.replace('Январь-июнь1)','Январь-июнь')
    out0.columns = out0.columns.str.replace('Январь-март1)','Январь-март')
    
    in0.columns = in0.columns.str.replace('Январь-декабрь*','Январь-декабрь')
    out0.columns = out0.columns.str.replace('Январь-декабрь*','Январь-декабрь')
    
#    display(in0)
#    display(out0)
    year = in0.merge(out0, how='outer', on='Unnamed: 0')
    year = year.replace(',','.')

    #display(year)


#    year['Январь-декабрь_x'] = year['Январь-декабрь_x'].apply(lambda x: float(x))
#    year['Январь-сентябрь_x'] = year['Январь-сентябрь_x'].apply(lambda x: float(x))
#    year['Январь-июнь_x'] = year['Январь-июнь_x'].apply(lambda x: float(x))
#    year['Январь-март_x'] = year['Январь-март_x'].apply(lambda x: float(x))
#    year['Январь-декабрь_y'] = year['Январь-декабрь_y'].apply(lambda x: float(x))
#    year['Январь-сентябрь_y'] = year['Январь-сентябрь_y'].apply(lambda x: float(x))
#    year['Январь-сентябрь_y'] = year['Январь-сентябрь_y'].apply(lambda x: float(x))
#    year['Январь-март_y'] = year['Январь-март_y'].apply(lambda x: float(x))

    year['Январь-декабрь_x'] = pd.to_numeric(year['Январь-декабрь_x'], errors='coerce')
    year['Январь-сентябрь_x'] = pd.to_numeric(year['Январь-сентябрь_x'], errors='coerce')
    year['Январь-июнь_x'] = pd.to_numeric(year['Январь-июнь_x'], errors='coerce')
    year['Январь-март_x'] = pd.to_numeric(year['Январь-март_x'], errors='coerce')
    year['Январь-декабрь_y'] = pd.to_numeric(year['Январь-декабрь_y'], errors='coerce')
    year['Январь-сентябрь_y'] = pd.to_numeric(year['Январь-сентябрь_y'], errors='coerce')
    year['Январь-сентябрь_y'] = pd.to_numeric(year['Январь-сентябрь_y'], errors='coerce')
    year['Январь-март_y'] = pd.to_numeric(year['Январь-март_y'], errors='coerce')
    
    year['Январь-декабрь_x'] = (year['Январь-декабрь_x'] - year['Январь-сентябрь_x'])*1000
    year['Январь-сентябрь_x'] = (year['Январь-сентябрь_x'] - year['Январь-июнь_x'])*1000
    year['Январь-июнь_x'] = (year['Январь-июнь_x'] - year['Январь-март_x'])*1000
    year['Январь-март_x'] = year['Январь-март_x']*1000
    year['Январь-декабрь_y'] = (year['Январь-декабрь_y'] - year['Январь-сентябрь_y'])*1000
    year['Январь-сентябрь_y'] = (year['Январь-сентябрь_y'] - year['Январь-июнь_y'])*1000
    year['Январь-июнь_y'] = (year['Январь-июнь_y'] - year['Январь-март_y'])*1000
    year['Январь-март_y'] = year['Январь-март_y']*1000
    
    display(year)

    q1= year[['Unnamed: 0','Январь-март_x','Январь-март_y']].rename(columns={'Unnamed: 0':'country','Январь-март_x':'incoming','Январь-март_y':'outgoing'})
    q1['date'] = pd.to_datetime('30-03-'+str(a),dayfirst=True)
    display(q1)

    q2= year[['Unnamed: 0','Январь-июнь_x','Январь-июнь_y']].rename(columns={'Unnamed: 0':'country','Январь-июнь_x':'incoming','Январь-июнь_y':'outgoing'})
    q2['date'] = pd.to_datetime('30-06-'+str(a),dayfirst=True)
    display(q2)

    q3= year[['Unnamed: 0','Январь-сентябрь_x','Январь-сентябрь_y']].rename(columns={'Unnamed: 0':'country','Январь-сентябрь_x':'incoming','Январь-сентябрь_y':'outgoing'})
    q3['date'] = pd.to_datetime('30-09-'+str(a),dayfirst=True)
    display(q3)

    q4= year[['Unnamed: 0','Январь-декабрь_x','Январь-декабрь_y']].rename(columns={'Unnamed: 0':'country','Январь-декабрь_x':'incoming','Январь-декабрь_y':'outgoing'})
    q4['date'] = pd.to_datetime('30-12-'+str(a),dayfirst=True)
    display(q4)

    data = pd.concat([data,q1,q2,q3,q4])
    
    #display(type(m))

2016

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,Абхазия,94858.00,96030.00,108452.00,111226.00,631674.00,909203.00,1934586.00,781291.00
1,Австралия,2312.00,13688.00,22000.00,3882.00,NaN,NaN,NaN,NaN
2,Австрия,6964.00,14036.00,18000.00,10026.00,43021.87,43978.13,48000.00,48043.03
3,Азербайджан,216044.00,224804.00,249555.00,208023.00,106128.00,160717.00,220755.00,139206.00
4,Аргентина,1323.00,5677.00,10000.00,2300.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
70,Южная Осетия,20363.00,28637.00,32000.00,30370.00,76211.00,116789.00,141000.00,101478.00
71,Южно-Африканская Республика,674.00,2326.00,3000.00,1000.00,NaN,NaN,NaN,NaN
72,Япония,11847.00,23153.00,34000.00,15631.00,10582.36,10417.64,13000.00,13343.43
73,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                        country  incoming  outgoing       date
0                      Абхазия   94858.00 631674.00 2016-03-30
1                     Австралия   2312.00       NaN 2016-03-30
2                       Австрия   6964.00  43021.87 2016-03-30
3                   Азербайджан 216044.00 106128.00 2016-03-30
4                     Аргентина   1323.00       NaN 2016-03-30
..                          ...       ...       ...        ...
70                 Южная Осетия  20363.00  76211.00 2016-03-30
71  Южно-Африканская Республика    674.00       NaN 2016-03-30
72                       Япония  11847.00  10582.36 2016-03-30
73             из них в страны:       NaN       NaN 2016-03-30
74             из них из стран:       NaN       NaN 2016-03-30

[75 rows x 4 columns]

                        country  incoming  outgoing       date
0                      Абхазия   96030.00 909203.00 2016-06-30
1                     Австралия  13688.00       NaN 2016-06-30
2                       Австрия  14036.00  43978.13 2016-06-30
3                   Азербайджан 224804.00 160717.00 2016-06-30
4                     Аргентина   5677.00       NaN 2016-06-30
..                          ...       ...       ...        ...
70                 Южная Осетия  28637.00 116789.00 2016-06-30
71  Южно-Африканская Республика   2326.00       NaN 2016-06-30
72                       Япония  23153.00  10417.64 2016-06-30
73             из них в страны:       NaN       NaN 2016-06-30
74             из них из стран:       NaN       NaN 2016-06-30

[75 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  108452.00 1934586.00 2016-09-30
1                     Австралия  22000.00        NaN 2016-09-30
2                       Австрия  18000.00   48000.00 2016-09-30
3                   Азербайджан 249555.00  220755.00 2016-09-30
4                     Аргентина  10000.00        NaN 2016-09-30
..                          ...       ...        ...        ...
70                 Южная Осетия  32000.00  141000.00 2016-09-30
71  Южно-Африканская Республика   3000.00        NaN 2016-09-30
72                       Япония  34000.00   13000.00 2016-09-30
73             из них в страны:       NaN        NaN 2016-09-30
74             из них из стран:       NaN        NaN 2016-09-30

[75 rows x 4 columns]

                        country  incoming  outgoing       date
0                      Абхазия  111226.00 781291.00 2016-12-30
1                     Австралия   3882.00       NaN 2016-12-30
2                       Австрия  10026.00  48043.03 2016-12-30
3                   Азербайджан 208023.00 139206.00 2016-12-30
4                     Аргентина   2300.00       NaN 2016-12-30
..                          ...       ...       ...        ...
70                 Южная Осетия  30370.00 101478.00 2016-12-30
71  Южно-Африканская Республика   1000.00       NaN 2016-12-30
72                       Япония  15631.00  13343.43 2016-12-30
73             из них в страны:       NaN       NaN 2016-12-30
74             из них из стран:       NaN       NaN 2016-12-30

[75 rows x 4 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_18620\1851349739.py:71: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([data,q1,q2,q3,q4])

2017

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,Абхазия,92000.00,106000.00,123000.00,111000.00,667000.00,1001000.00,1825000.00,851000.00
1,Австралия,2000.00,16000.00,24000.00,5000.00,NaN,NaN,NaN,NaN
2,Австрия,7000.00,15000.00,21000.00,9000.00,52000.00,63000.00,70000.00,63000.00
3,Азербайджан,181000.00,222000.00,252000.00,221000.00,139000.00,186000.00,242000.00,169000.00
4,Аргентина,1000.00,6000.00,13000.00,4000.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
70,Южная Осетия,27000.00,33000.00,38000.00,36000.00,84000.00,112000.00,136000.00,104000.00
71,Южно-Африканская Республика,1000.00,3000.00,5000.00,2000.00,NaN,NaN,NaN,NaN
72,Япония,13000.00,28000.00,43000.00,18000.00,13000.00,18000.00,18000.00,16000.00
73,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                        country  incoming  outgoing       date
0                      Абхазия   92000.00 667000.00 2017-03-30
1                     Австралия   2000.00       NaN 2017-03-30
2                       Австрия   7000.00  52000.00 2017-03-30
3                   Азербайджан 181000.00 139000.00 2017-03-30
4                     Аргентина   1000.00       NaN 2017-03-30
..                          ...       ...       ...        ...
70                 Южная Осетия  27000.00  84000.00 2017-03-30
71  Южно-Африканская Республика   1000.00       NaN 2017-03-30
72                       Япония  13000.00  13000.00 2017-03-30
73             из них в страны:       NaN       NaN 2017-03-30
74             из них из стран:       NaN       NaN 2017-03-30

[75 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  106000.00 1001000.00 2017-06-30
1                     Австралия  16000.00        NaN 2017-06-30
2                       Австрия  15000.00   63000.00 2017-06-30
3                   Азербайджан 222000.00  186000.00 2017-06-30
4                     Аргентина   6000.00        NaN 2017-06-30
..                          ...       ...        ...        ...
70                 Южная Осетия  33000.00  112000.00 2017-06-30
71  Южно-Африканская Республика   3000.00        NaN 2017-06-30
72                       Япония  28000.00   18000.00 2017-06-30
73             из них в страны:       NaN        NaN 2017-06-30
74             из них из стран:       NaN        NaN 2017-06-30

[75 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  123000.00 1825000.00 2017-09-30
1                     Австралия  24000.00        NaN 2017-09-30
2                       Австрия  21000.00   70000.00 2017-09-30
3                   Азербайджан 252000.00  242000.00 2017-09-30
4                     Аргентина  13000.00        NaN 2017-09-30
..                          ...       ...        ...        ...
70                 Южная Осетия  38000.00  136000.00 2017-09-30
71  Южно-Африканская Республика   5000.00        NaN 2017-09-30
72                       Япония  43000.00   18000.00 2017-09-30
73             из них в страны:       NaN        NaN 2017-09-30
74             из них из стран:       NaN        NaN 2017-09-30

[75 rows x 4 columns]

                        country  incoming  outgoing       date
0                      Абхазия  111000.00 851000.00 2017-12-30
1                     Австралия   5000.00       NaN 2017-12-30
2                       Австрия   9000.00  63000.00 2017-12-30
3                   Азербайджан 221000.00 169000.00 2017-12-30
4                     Аргентина   4000.00       NaN 2017-12-30
..                          ...       ...       ...        ...
70                 Южная Осетия  36000.00 104000.00 2017-12-30
71  Южно-Африканская Республика   2000.00       NaN 2017-12-30
72                       Япония  18000.00  16000.00 2017-12-30
73             из них в страны:       NaN       NaN 2017-12-30
74             из них из стран:       NaN       NaN 2017-12-30

[75 rows x 4 columns]

2018

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,Абхазия,105000.00,110000.00,135000.00,138000.00,797000.00,954000.00,1870000.00,875000.00
1,Австралия,3000.00,29000.00,30000.00,4000.00,NaN,NaN,NaN,NaN
2,Австрия,7000.00,16000.00,23000.00,10000.00,64000.00,60000.00,60000.00,65000.00
3,Азербайджан,193000.00,203000.00,269000.00,228000.00,147000.00,202000.00,243000.00,156000.00
4,Аргентина,2000.00,39000.00,16000.00,2000.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79,Южная Осетия,29000.00,36000.00,38000.00,35000.00,79000.00,110000.00,131000.00,100000.00
80,Южно-Африканская Республика,1000.00,6000.00,6000.00,2000.00,NaN,NaN,NaN,NaN
81,Япония,13000.00,28000.00,46000.00,18000.00,15000.00,21000.00,19000.00,25000.00
82,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                        country  incoming  outgoing       date
0                      Абхазия  105000.00 797000.00 2018-03-30
1                     Австралия   3000.00       NaN 2018-03-30
2                       Австрия   7000.00  64000.00 2018-03-30
3                   Азербайджан 193000.00 147000.00 2018-03-30
4                     Аргентина   2000.00       NaN 2018-03-30
..                          ...       ...       ...        ...
79                 Южная Осетия  29000.00  79000.00 2018-03-30
80  Южно-Африканская Республика   1000.00       NaN 2018-03-30
81                       Япония  13000.00  15000.00 2018-03-30
82             из них в страны:       NaN       NaN 2018-03-30
83             из них из стран:       NaN       NaN 2018-03-30

[84 rows x 4 columns]

                        country  incoming  outgoing       date
0                      Абхазия  110000.00 954000.00 2018-06-30
1                     Австралия  29000.00       NaN 2018-06-30
2                       Австрия  16000.00  60000.00 2018-06-30
3                   Азербайджан 203000.00 202000.00 2018-06-30
4                     Аргентина  39000.00       NaN 2018-06-30
..                          ...       ...       ...        ...
79                 Южная Осетия  36000.00 110000.00 2018-06-30
80  Южно-Африканская Республика   6000.00       NaN 2018-06-30
81                       Япония  28000.00  21000.00 2018-06-30
82             из них в страны:       NaN       NaN 2018-06-30
83             из них из стран:       NaN       NaN 2018-06-30

[84 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  135000.00 1870000.00 2018-09-30
1                     Австралия  30000.00        NaN 2018-09-30
2                       Австрия  23000.00   60000.00 2018-09-30
3                   Азербайджан 269000.00  243000.00 2018-09-30
4                     Аргентина  16000.00        NaN 2018-09-30
..                          ...       ...        ...        ...
79                 Южная Осетия  38000.00  131000.00 2018-09-30
80  Южно-Африканская Республика   6000.00        NaN 2018-09-30
81                       Япония  46000.00   19000.00 2018-09-30
82             из них в страны:       NaN        NaN 2018-09-30
83             из них из стран:       NaN        NaN 2018-09-30

[84 rows x 4 columns]

                        country  incoming  outgoing       date
0                      Абхазия  138000.00 875000.00 2018-12-30
1                     Австралия   4000.00       NaN 2018-12-30
2                       Австрия  10000.00  65000.00 2018-12-30
3                   Азербайджан 228000.00 156000.00 2018-12-30
4                     Аргентина   2000.00       NaN 2018-12-30
..                          ...       ...       ...        ...
79                 Южная Осетия  35000.00 100000.00 2018-12-30
80  Южно-Африканская Республика   2000.00       NaN 2018-12-30
81                       Япония  18000.00  25000.00 2018-12-30
82             из них в страны:       NaN       NaN 2018-12-30
83             из них из стран:       NaN       NaN 2018-12-30

[84 rows x 4 columns]

2019

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,Абхазия,128000.00,134000.00,173000.00,161000.00,803000.00,1049000.00,2003000.00,932000.00
1,Австралия,3000.00,19000.00,29000.00,5000.00,NaN,NaN,NaN,NaN
2,Австрия,7000.00,18000.00,24000.00,10000.00,62000.00,63000.00,64000.00,66000.00
3,Азербайджан,197000.00,221000.00,266000.00,227000.00,130000.00,198000.00,249000.00,159000.00
4,Аргентина,2000.00,6000.00,10000.00,2000.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
76,Южная Осетия,27000.00,37000.00,40000.00,38000.00,66000.00,104000.00,124000.00,98000.00
77,Южно-Африканская Республика,1000.00,4000.00,6000.00,3000.00,NaN,NaN,NaN,NaN
78,Япония,13000.00,29000.00,51000.00,19000.00,19000.00,27000.00,27000.00,33000.00
79,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                        country  incoming  outgoing       date
0                      Абхазия  128000.00 803000.00 2019-03-30
1                     Австралия   3000.00       NaN 2019-03-30
2                       Австрия   7000.00  62000.00 2019-03-30
3                   Азербайджан 197000.00 130000.00 2019-03-30
4                     Аргентина   2000.00       NaN 2019-03-30
..                          ...       ...       ...        ...
76                 Южная Осетия  27000.00  66000.00 2019-03-30
77  Южно-Африканская Республика   1000.00       NaN 2019-03-30
78                       Япония  13000.00  19000.00 2019-03-30
79             из них в страны:       NaN       NaN 2019-03-30
80             из них из стран:       NaN       NaN 2019-03-30

[81 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  134000.00 1049000.00 2019-06-30
1                     Австралия  19000.00        NaN 2019-06-30
2                       Австрия  18000.00   63000.00 2019-06-30
3                   Азербайджан 221000.00  198000.00 2019-06-30
4                     Аргентина   6000.00        NaN 2019-06-30
..                          ...       ...        ...        ...
76                 Южная Осетия  37000.00  104000.00 2019-06-30
77  Южно-Африканская Республика   4000.00        NaN 2019-06-30
78                       Япония  29000.00   27000.00 2019-06-30
79             из них в страны:       NaN        NaN 2019-06-30
80             из них из стран:       NaN        NaN 2019-06-30

[81 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  173000.00 2003000.00 2019-09-30
1                     Австралия  29000.00        NaN 2019-09-30
2                       Австрия  24000.00   64000.00 2019-09-30
3                   Азербайджан 266000.00  249000.00 2019-09-30
4                     Аргентина  10000.00        NaN 2019-09-30
..                          ...       ...        ...        ...
76                 Южная Осетия  40000.00  124000.00 2019-09-30
77  Южно-Африканская Республика   6000.00        NaN 2019-09-30
78                       Япония  51000.00   27000.00 2019-09-30
79             из них в страны:       NaN        NaN 2019-09-30
80             из них из стран:       NaN        NaN 2019-09-30

[81 rows x 4 columns]

                        country  incoming  outgoing       date
0                      Абхазия  161000.00 932000.00 2019-12-30
1                     Австралия   5000.00       NaN 2019-12-30
2                       Австрия  10000.00  66000.00 2019-12-30
3                   Азербайджан 227000.00 159000.00 2019-12-30
4                     Аргентина   2000.00       NaN 2019-12-30
..                          ...       ...       ...        ...
76                 Южная Осетия  38000.00  98000.00 2019-12-30
77  Южно-Африканская Республика   3000.00       NaN 2019-12-30
78                       Япония  19000.00  33000.00 2019-12-30
79             из них в страны:       NaN       NaN 2019-12-30
80             из них из стран:       NaN       NaN 2019-12-30

[81 rows x 4 columns]

2020

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,1) Данные уточнены в связи с внесением изменен...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Абхазия,135746.00,135.00,92225.00,181152.00,813342.00,20224.00,1022317.00,949480.00
2,Австралия,2220.00,3.00,66.00,74.00,NaN,NaN,NaN,NaN
3,Австрия,5454.00,24.00,393.00,677.00,59207.00,183.00,1259.00,3897.00
4,Азербайджан,173482.00,270.00,5857.00,7217.00,114162.00,154.00,1274.00,356.00
...,...,...,...,...,...,...,...,...,...
77,Южная Осетия,25479.00,18.00,9162.00,32076.00,69627.00,1950.00,26009.00,83639.00
78,Южно-Африканская Республика,1307.00,5.00,69.00,112.00,NaN,NaN,NaN,NaN
79,Япония,12205.00,9.00,241.00,367.00,18703.00,108.00,105.00,1285.00
80,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country,incoming,outgoing,date
0,1) Данные уточнены в связи с внесением изменен...,NaN,NaN,2020-03-30
1,Абхазия,135746.00,813342.00,2020-03-30
2,Австралия,2220.00,NaN,2020-03-30
3,Австрия,5454.00,59207.00,2020-03-30
4,Азербайджан,173482.00,114162.00,2020-03-30
...,...,...,...,...
77,Южная Осетия,25479.00,69627.00,2020-03-30
78,Южно-Африканская Республика,1307.00,NaN,2020-03-30
79,Япония,12205.00,18703.00,2020-03-30
80,из них в страны:,NaN,NaN,2020-03-30
81,из них из стран:,NaN,NaN,2020-03-30

,country,incoming,outgoing,date
0,1) Данные уточнены в связи с внесением изменен...,NaN,NaN,2020-06-30
1,Абхазия,135.00,20224.00,2020-06-30
2,Австралия,3.00,NaN,2020-06-30
3,Австрия,24.00,183.00,2020-06-30
4,Азербайджан,270.00,154.00,2020-06-30
...,...,...,...,...
77,Южная Осетия,18.00,1950.00,2020-06-30
78,Южно-Африканская Республика,5.00,NaN,2020-06-30
79,Япония,9.00,108.00,2020-06-30
80,из них в страны:,NaN,NaN,2020-06-30
81,из них из стран:,NaN,NaN,2020-06-30

,country,incoming,outgoing,date
0,1) Данные уточнены в связи с внесением изменен...,NaN,NaN,2020-09-30
1,Абхазия,92225.00,1022317.00,2020-09-30
2,Австралия,66.00,NaN,2020-09-30
3,Австрия,393.00,1259.00,2020-09-30
4,Азербайджан,5857.00,1274.00,2020-09-30
...,...,...,...,...
77,Южная Осетия,9162.00,26009.00,2020-09-30
78,Южно-Африканская Республика,69.00,NaN,2020-09-30
79,Япония,241.00,105.00,2020-09-30
80,из них в страны:,NaN,NaN,2020-09-30
81,из них из стран:,NaN,NaN,2020-09-30

,country,incoming,outgoing,date
0,1) Данные уточнены в связи с внесением изменен...,NaN,NaN,2020-12-30
1,Абхазия,181152.00,949480.00,2020-12-30
2,Австралия,74.00,NaN,2020-12-30
3,Австрия,677.00,3897.00,2020-12-30
4,Азербайджан,7217.00,356.00,2020-12-30
...,...,...,...,...
77,Южная Осетия,32076.00,83639.00,2020-12-30
78,Южно-Африканская Республика,112.00,NaN,2020-12-30
79,Япония,367.00,1285.00,2020-12-30
80,из них в страны:,NaN,NaN,2020-12-30
81,из них из стран:,NaN,NaN,2020-12-30

2021

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,Абхазия,137463.00,156627.00,169008.00,170290.00,782869.00,1234580.00,2105001.00,1018425.00
1,Австралия,69.00,173.00,263.00,285.00,NaN,NaN,NaN,NaN
2,Австрия,918.00,1394.00,3054.00,3385.00,6254.00,13034.00,20692.00,16430.00
3,Азербайджан,12855.00,25318.00,46562.00,46054.00,6857.00,35501.00,61762.00,54271.00
4,Аргентина,138.00,217.00,285.00,304.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
76,Южная Осетия,26264.00,35074.00,39402.00,36100.00,61098.00,94873.00,114314.00,88376.00
77,Южно-Африканская Республика,188.00,235.00,409.00,303.00,NaN,NaN,NaN,NaN
78,Япония,666.00,632.00,1061.00,1042.00,763.00,921.00,2886.00,1174.00
79,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                        country  incoming  outgoing       date
0                      Абхазия  137463.00 782869.00 2021-03-30
1                     Австралия     69.00       NaN 2021-03-30
2                       Австрия    918.00   6254.00 2021-03-30
3                   Азербайджан  12855.00   6857.00 2021-03-30
4                     Аргентина    138.00       NaN 2021-03-30
..                          ...       ...       ...        ...
76                 Южная Осетия  26264.00  61098.00 2021-03-30
77  Южно-Африканская Республика    188.00       NaN 2021-03-30
78                       Япония    666.00    763.00 2021-03-30
79             из них в страны:       NaN       NaN 2021-03-30
80             из них из стран:       NaN       NaN 2021-03-30

[81 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  156627.00 1234580.00 2021-06-30
1                     Австралия    173.00        NaN 2021-06-30
2                       Австрия   1394.00   13034.00 2021-06-30
3                   Азербайджан  25318.00   35501.00 2021-06-30
4                     Аргентина    217.00        NaN 2021-06-30
..                          ...       ...        ...        ...
76                 Южная Осетия  35074.00   94873.00 2021-06-30
77  Южно-Африканская Республика    235.00        NaN 2021-06-30
78                       Япония    632.00     921.00 2021-06-30
79             из них в страны:       NaN        NaN 2021-06-30
80             из них из стран:       NaN        NaN 2021-06-30

[81 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  169008.00 2105001.00 2021-09-30
1                     Австралия    263.00        NaN 2021-09-30
2                       Австрия   3054.00   20692.00 2021-09-30
3                   Азербайджан  46562.00   61762.00 2021-09-30
4                     Аргентина    285.00        NaN 2021-09-30
..                          ...       ...        ...        ...
76                 Южная Осетия  39402.00  114314.00 2021-09-30
77  Южно-Африканская Республика    409.00        NaN 2021-09-30
78                       Япония   1061.00    2886.00 2021-09-30
79             из них в страны:       NaN        NaN 2021-09-30
80             из них из стран:       NaN        NaN 2021-09-30

[81 rows x 4 columns]

                        country  incoming   outgoing       date
0                      Абхазия  170290.00 1018425.00 2021-12-30
1                     Австралия    285.00        NaN 2021-12-30
2                       Австрия   3385.00   16430.00 2021-12-30
3                   Азербайджан  46054.00   54271.00 2021-12-30
4                     Аргентина    304.00        NaN 2021-12-30
..                          ...       ...        ...        ...
76                 Южная Осетия  36100.00   88376.00 2021-12-30
77  Южно-Африканская Республика    303.00        NaN 2021-12-30
78                       Япония   1042.00    1174.00 2021-12-30
79             из них в страны:       NaN        NaN 2021-12-30
80             из них из стран:       NaN        NaN 2021-12-30

[81 rows x 4 columns]

2022

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,* Без учета статистической информации по Донец...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Абхазия,132129.00,155304.00,182611.00,185532.00,740262.00,1191703.00,2463931.00,1005718.00
2,Австралия,163.00,111.00,321.00,173.00,NaN,NaN,NaN,NaN
3,Австрия,1780.00,737.00,1181.00,896.00,10630.00,168.00,2.00,1.00
4,Азербайджан,30349.00,29183.00,60729.00,45023.00,40985.00,53432.00,128253.00,114369.00
...,...,...,...,...,...,...,...,...,...
77,Южная Осетия,25751.00,35745.00,41539.00,43044.00,55237.00,90564.00,113355.00,82812.00
78,Южно-Африканская Республика,116.00,195.00,451.00,344.00,NaN,NaN,NaN,NaN
79,Япония,655.00,281.00,544.00,488.00,576.00,63.00,39.00,15.00
80,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2022-03-30
1,Абхазия,132129.00,740262.00,2022-03-30
2,Австралия,163.00,NaN,2022-03-30
3,Австрия,1780.00,10630.00,2022-03-30
4,Азербайджан,30349.00,40985.00,2022-03-30
...,...,...,...,...
77,Южная Осетия,25751.00,55237.00,2022-03-30
78,Южно-Африканская Республика,116.00,NaN,2022-03-30
79,Япония,655.00,576.00,2022-03-30
80,из них в страны:,NaN,NaN,2022-03-30
81,из них из стран:,NaN,NaN,2022-03-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2022-06-30
1,Абхазия,155304.00,1191703.00,2022-06-30
2,Австралия,111.00,NaN,2022-06-30
3,Австрия,737.00,168.00,2022-06-30
4,Азербайджан,29183.00,53432.00,2022-06-30
...,...,...,...,...
77,Южная Осетия,35745.00,90564.00,2022-06-30
78,Южно-Африканская Республика,195.00,NaN,2022-06-30
79,Япония,281.00,63.00,2022-06-30
80,из них в страны:,NaN,NaN,2022-06-30
81,из них из стран:,NaN,NaN,2022-06-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2022-09-30
1,Абхазия,182611.00,2463931.00,2022-09-30
2,Австралия,321.00,NaN,2022-09-30
3,Австрия,1181.00,2.00,2022-09-30
4,Азербайджан,60729.00,128253.00,2022-09-30
...,...,...,...,...
77,Южная Осетия,41539.00,113355.00,2022-09-30
78,Южно-Африканская Республика,451.00,NaN,2022-09-30
79,Япония,544.00,39.00,2022-09-30
80,из них в страны:,NaN,NaN,2022-09-30
81,из них из стран:,NaN,NaN,2022-09-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2022-12-30
1,Абхазия,185532.00,1005718.00,2022-12-30
2,Австралия,173.00,NaN,2022-12-30
3,Австрия,896.00,1.00,2022-12-30
4,Азербайджан,45023.00,114369.00,2022-12-30
...,...,...,...,...
77,Южная Осетия,43044.00,82812.00,2022-12-30
78,Южно-Африканская Республика,344.00,NaN,2022-12-30
79,Япония,488.00,15.00,2022-12-30
80,из них в страны:,NaN,NaN,2022-12-30
81,из них из стран:,NaN,NaN,2022-12-30

2023

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,* Без учета статистической информации по Донец...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Абхазия,170878.00,180896.00,205013.00,193072.00,877033.00,1209170.00,2489699.00,1118187.00
2,Австралия,170.00,298.00,492.00,364.00,NaN,NaN,NaN,NaN
3,Австрия,827.00,1032.00,1555.00,1297.00,0.00,1.00,0.00,0.00
4,Азербайджан,46736.00,66741.00,74589.00,71717.00,82439.00,142839.00,143289.00,107032.00
...,...,...,...,...,...,...,...,...,...
77,Южная Осетия,34350.00,43764.00,49472.00,40933.00,61338.00,91916.00,118323.00,86714.00
78,Южно-Африканская Республика,343.00,620.00,1077.00,635.00,NaN,NaN,NaN,NaN
79,Япония,535.00,687.00,959.00,781.00,19.00,121.00,262.00,106.00
80,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2023-03-30
1,Абхазия,170878.00,877033.00,2023-03-30
2,Австралия,170.00,NaN,2023-03-30
3,Австрия,827.00,0.00,2023-03-30
4,Азербайджан,46736.00,82439.00,2023-03-30
...,...,...,...,...
77,Южная Осетия,34350.00,61338.00,2023-03-30
78,Южно-Африканская Республика,343.00,NaN,2023-03-30
79,Япония,535.00,19.00,2023-03-30
80,из них в страны:,NaN,NaN,2023-03-30
81,из них из стран:,NaN,NaN,2023-03-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2023-06-30
1,Абхазия,180896.00,1209170.00,2023-06-30
2,Австралия,298.00,NaN,2023-06-30
3,Австрия,1032.00,1.00,2023-06-30
4,Азербайджан,66741.00,142839.00,2023-06-30
...,...,...,...,...
77,Южная Осетия,43764.00,91916.00,2023-06-30
78,Южно-Африканская Республика,620.00,NaN,2023-06-30
79,Япония,687.00,121.00,2023-06-30
80,из них в страны:,NaN,NaN,2023-06-30
81,из них из стран:,NaN,NaN,2023-06-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2023-09-30
1,Абхазия,205013.00,2489699.00,2023-09-30
2,Австралия,492.00,NaN,2023-09-30
3,Австрия,1555.00,0.00,2023-09-30
4,Азербайджан,74589.00,143289.00,2023-09-30
...,...,...,...,...
77,Южная Осетия,49472.00,118323.00,2023-09-30
78,Южно-Африканская Республика,1077.00,NaN,2023-09-30
79,Япония,959.00,262.00,2023-09-30
80,из них в страны:,NaN,NaN,2023-09-30
81,из них из стран:,NaN,NaN,2023-09-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2023-12-30
1,Абхазия,193072.00,1118187.00,2023-12-30
2,Австралия,364.00,NaN,2023-12-30
3,Австрия,1297.00,0.00,2023-12-30
4,Азербайджан,71717.00,107032.00,2023-12-30
...,...,...,...,...
77,Южная Осетия,40933.00,86714.00,2023-12-30
78,Южно-Африканская Республика,635.00,NaN,2023-12-30
79,Япония,781.00,106.00,2023-12-30
80,из них в страны:,NaN,NaN,2023-12-30
81,из них из стран:,NaN,NaN,2023-12-30

2024

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,* Без учета статистической информации по Донец...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Абхазия,168642.00,170909.00,183094.00,173329.00,889257.00,1249461.00,2481858.00,1128754.00
2,Австралия,250.00,569.00,725.00,457.00,NaN,NaN,NaN,NaN
3,Австрия,983.00,1273.00,1900.00,1175.00,1.00,0.00,1.00,0.00
4,Азербайджан,59259.00,73780.00,85675.00,74637.00,114468.00,181012.00,187705.00,136921.00
...,...,...,...,...,...,...,...,...,...
77,Южная Осетия,36887.00,43913.00,50506.00,44308.00,68206.00,96791.00,119632.00,88259.00
78,Южно-Африканская Республика,555.00,944.00,1309.00,941.00,NaN,NaN,NaN,NaN
79,Япония,711.00,898.00,1363.00,906.00,65.00,141.00,265.00,109.00
80,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2024-03-30
1,Абхазия,168642.00,889257.00,2024-03-30
2,Австралия,250.00,NaN,2024-03-30
3,Австрия,983.00,1.00,2024-03-30
4,Азербайджан,59259.00,114468.00,2024-03-30
...,...,...,...,...
77,Южная Осетия,36887.00,68206.00,2024-03-30
78,Южно-Африканская Республика,555.00,NaN,2024-03-30
79,Япония,711.00,65.00,2024-03-30
80,из них в страны:,NaN,NaN,2024-03-30
81,из них из стран:,NaN,NaN,2024-03-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2024-06-30
1,Абхазия,170909.00,1249461.00,2024-06-30
2,Австралия,569.00,NaN,2024-06-30
3,Австрия,1273.00,0.00,2024-06-30
4,Азербайджан,73780.00,181012.00,2024-06-30
...,...,...,...,...
77,Южная Осетия,43913.00,96791.00,2024-06-30
78,Южно-Африканская Республика,944.00,NaN,2024-06-30
79,Япония,898.00,141.00,2024-06-30
80,из них в страны:,NaN,NaN,2024-06-30
81,из них из стран:,NaN,NaN,2024-06-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2024-09-30
1,Абхазия,183094.00,2481858.00,2024-09-30
2,Австралия,725.00,NaN,2024-09-30
3,Австрия,1900.00,1.00,2024-09-30
4,Азербайджан,85675.00,187705.00,2024-09-30
...,...,...,...,...
77,Южная Осетия,50506.00,119632.00,2024-09-30
78,Южно-Африканская Республика,1309.00,NaN,2024-09-30
79,Япония,1363.00,265.00,2024-09-30
80,из них в страны:,NaN,NaN,2024-09-30
81,из них из стран:,NaN,NaN,2024-09-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2024-12-30
1,Абхазия,173329.00,1128754.00,2024-12-30
2,Австралия,457.00,NaN,2024-12-30
3,Австрия,1175.00,0.00,2024-12-30
4,Азербайджан,74637.00,136921.00,2024-12-30
...,...,...,...,...
77,Южная Осетия,44308.00,88259.00,2024-12-30
78,Южно-Африканская Республика,941.00,NaN,2024-12-30
79,Япония,906.00,109.00,2024-12-30
80,из них в страны:,NaN,NaN,2024-12-30
81,из них из стран:,NaN,NaN,2024-12-30

2025

,Unnamed: 0,Январь-март_x,Январь-июнь_x,Январь-сентябрь_x,Январь-декабрь_x,Январь-март_y,Январь-июнь_y,Январь-сентябрь_y,Январь-декабрь_y
0,* Без учета статистической информации по Донец...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Абхазия,174785.00,NaN,NaN,NaN,905278.00,NaN,NaN,NaN
2,Австралия,264.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Австрия,859.00,NaN,NaN,NaN,0.00,NaN,NaN,NaN
4,Азербайджан,42929.00,NaN,NaN,NaN,95416.00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
77,Южная Осетия,39075.00,NaN,NaN,NaN,69613.00,NaN,NaN,NaN
78,Южно-Африканская Республика,512.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,Япония,818.00,NaN,NaN,NaN,53.00,NaN,NaN,NaN
80,из них в страны:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,из них из стран:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2025-03-30
1,Абхазия,174785.00,905278.00,2025-03-30
2,Австралия,264.00,NaN,2025-03-30
3,Австрия,859.00,0.00,2025-03-30
4,Азербайджан,42929.00,95416.00,2025-03-30
...,...,...,...,...
77,Южная Осетия,39075.00,69613.00,2025-03-30
78,Южно-Африканская Республика,512.00,NaN,2025-03-30
79,Япония,818.00,53.00,2025-03-30
80,из них в страны:,NaN,NaN,2025-03-30
81,из них из стран:,NaN,NaN,2025-03-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2025-06-30
1,Абхазия,NaN,NaN,2025-06-30
2,Австралия,NaN,NaN,2025-06-30
3,Австрия,NaN,NaN,2025-06-30
4,Азербайджан,NaN,NaN,2025-06-30
...,...,...,...,...
77,Южная Осетия,NaN,NaN,2025-06-30
78,Южно-Африканская Республика,NaN,NaN,2025-06-30
79,Япония,NaN,NaN,2025-06-30
80,из них в страны:,NaN,NaN,2025-06-30
81,из них из стран:,NaN,NaN,2025-06-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2025-09-30
1,Абхазия,NaN,NaN,2025-09-30
2,Австралия,NaN,NaN,2025-09-30
3,Австрия,NaN,NaN,2025-09-30
4,Азербайджан,NaN,NaN,2025-09-30
...,...,...,...,...
77,Южная Осетия,NaN,NaN,2025-09-30
78,Южно-Африканская Республика,NaN,NaN,2025-09-30
79,Япония,NaN,NaN,2025-09-30
80,из них в страны:,NaN,NaN,2025-09-30
81,из них из стран:,NaN,NaN,2025-09-30

,country,incoming,outgoing,date
0,* Без учета статистической информации по Донец...,NaN,NaN,2025-12-30
1,Абхазия,NaN,NaN,2025-12-30
2,Австралия,NaN,NaN,2025-12-30
3,Австрия,NaN,NaN,2025-12-30
4,Азербайджан,NaN,NaN,2025-12-30
...,...,...,...,...
77,Южная Осетия,NaN,NaN,2025-12-30
78,Южно-Африканская Республика,NaN,NaN,2025-12-30
79,Япония,NaN,NaN,2025-12-30
80,из них в страны:,NaN,NaN,2025-12-30
81,из них из стран:,NaN,NaN,2025-12-30

In [11]:
#dfname=pd.ExcelFile('Дашборд по туризму/Poezdki_06-2025.xlsx')
#print(dfname.sheet_names)
#df=[]
#for items in dfname.sheet_names[2:]:
#    dfnew=pd.read_excel('Дашборд по туризму/Poezdki_06-2025.xlsx',sheet_name=items, skiprows=4)
#    df= df.append(dfnew)

In [12]:
data

         date                      country  incoming  outgoing
0  2016-03-30                     Абхазия   94858.00 631674.00
1  2016-03-30                    Австралия   2312.00       NaN
2  2016-03-30                      Австрия   6964.00  43021.87
3  2016-03-30                  Азербайджан 216044.00 106128.00
4  2016-03-30                    Аргентина   1323.00       NaN
..        ...                          ...       ...       ...
77 2025-12-30                 Южная Осетия       NaN       NaN
78 2025-12-30  Южно-Африканская Республика       NaN       NaN
79 2025-12-30                       Япония       NaN       NaN
80 2025-12-30             из них в страны:       NaN       NaN
81 2025-12-30             из них из стран:       NaN       NaN

[3224 rows x 4 columns]

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3224 entries, 0 to 81
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3224 non-null   datetime64[ns]
 1   country   3224 non-null   object
 2   incoming  2462 non-null   float64
 3   outgoing  2439 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 125.9+ KB

In [22]:
data['country'].value_counts().head(50)

country
Абхазия                                     40
Таиланд                                     40
Соединенное Королевство (Великобритания)    40
Словения                                    40
Словакия                                    40
Сингапур                                    40
Сербия                                      40
США                                         40
Румыния                                     40
Республика Молдова                          40
Республика Корея                            40
Португалия                                  40
Польша                                      40
Объединенные Арабские Эмираты               40
Австралия                                   40
Нидерланды                                  40
Монголия                                    40
Таджикистан                                 40
Тунис                                       40
Мальдивы                                    40
Турция                                      40
из них из стран:                            40
из них в страны:                            40
Япония                                      40
Южно-Африканская Республика                 40
Южная Осетия                                40
Эстония                                     40
Швеция                                      40
Швейцария                                   40
Чешская Республика                          40
Черногория                                  40
Хорватия                                    40
Франция                                     40
Финляндия                                   40
Украина                                     40
Узбекистан                                  40
Мексика                                     40
Норвегия                                    40
Литва                                       40
Другие страны                               40
Дания                                       40
Грузия                                      40
Греция                                      40
Германия                                    40
Вьетнам                                     40
Всего                                       40
Венгрия                                     40
Бразилия                                    40
Болгария                                    40
Бельгия                                     40
Name: count, dtype: int64

In [23]:
data = data[data['country'] != 'из них из стран:']
data = data[data['country'] != 'из них в страны:']
data = data[data['country'] != '* Без учета статистической информации по Донецкой Народной Республике (ДНР), Луганской Народной Республике (ЛНР), Запорожской и Херсонской областям']
data = data[data['country'] != '1) Данные уточнены в связи с внесением изменений в Официальную статистическую методологию оценки числа въездных и выездных туристских поездок, утвержденную приказом Росстата от 31 октября 2019 г. № 640 (с изменениями от 12.11.2020 №692)']

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3124 entries, 0 to 79
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3124 non-null   datetime64[ns]
 1   country   3124 non-null   object
 2   incoming  2462 non-null   float64
 3   outgoing  2439 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 122.0+ KB

In [32]:
#data[data['country'] != 'Всего']['incoming'].sum()

138426277.0

In [34]:
#data[data['country'] == 'Всего']['incoming'].sum()

138458269.0

In [44]:
round((data[data['country'] == 'Всего']['incoming'].sum() - data[data['country'] != 'Всего']['incoming'].sum())/data[data['country'] == 'Всего']['incoming'].sum(),4)

0.0002

In [45]:
round((data[data['country'] == 'Всего']['outgoing'].sum() - data[data['country'] != 'Всего']['outgoing'].sum())/data[data['country'] == 'Всего']['outgoing'].sum(),4)

-0.0

In [27]:
data.to_excel('Дашборд по туризму/tourism_quarter.xlsx', index=False)