# Предобработка данных Ростуризма для собственного дашборда – Внешний туризм

Проблематика работы:
- Выгрузка данных от Ростуризма неудобная, содержит накопленные квартальные значения по годам, вместо значений по кварталам
- Ростуризм умудрились и Дашборд построить только по накопленным значениям, информативность очень скудная
- Нужно предобработать данные с отчетов Ростуризма: https://rosstat.gov.ru/statistics/turizm для построения собственного дашборда для мониторинга основных показателей индустрии

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from numpy import median


pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
in16 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2016', skiprows=4)
in17 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2017', skiprows=4)
in18 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2018', skiprows=4)
in19 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2019', skiprows=4)
in20 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2020', skiprows=4)
in21 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2021', skiprows=4)
in22 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2022', skiprows=4)
in23 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2023', skiprows=4)
in24 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2024', skiprows=4)
in25 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='1.2025', skiprows=4)

out16 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2016', skiprows=4)
out17 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2017', skiprows=4)
out18 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2018', skiprows=4)
out19 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2019', skiprows=4)
out20 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2020', skiprows=4)
out21 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2021', skiprows=4)
out22 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2022', skiprows=4)
out23 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2023', skiprows=4)
out24 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2024', skiprows=4)
out25 = pd.read_excel ('Дашборд по туризму/Poezdki_06-2025.xlsx', sheet_name='2.2025', skiprows=4)

In [3]:
in_list =[in16,in17,in18,in19,in20,in21,in22,in23,in24,in25]
out_list =[out16,out17,out18,out19,out20,out21,out22,out23,out24,out25]

In [4]:
data = pd.DataFrame(columns=['date','country','incoming','outgoing'])

In [5]:
for i in range(len(in_list)):
    a=2016+i
    display(a)
    in0 = in_list[i]
    out0 = out_list[i]
    in0.columns = in0.columns.str.replace('Январь-декабрь1)','Январь-декабрь')
    in0.columns = in0.columns.str.replace('Январь-сентябрь1)','Январь-сентябрь')
    in0.columns = in0.columns.str.replace('Январь-июнь1)','Январь-июнь')
    in0.columns = in0.columns.str.replace('Январь-март1)','Январь-март')
    out0.columns = out0.columns.str.replace('Январь-декабрь1)','Январь-декабрь')
    out0.columns = out0.columns.str.replace('Январь-сентябрь1)','Январь-сентябрь')
    out0.columns = out0.columns.str.replace('Январь-июнь1)','Январь-июнь')
    out0.columns = out0.columns.str.replace('Январь-март1)','Январь-март')
    
    in0.columns = in0.columns.str.replace('Январь-декабрь*','Январь-декабрь')
    out0.columns = out0.columns.str.replace('Январь-декабрь*','Январь-декабрь')

    year = in0.merge(out0, how='outer', on='Unnamed: 0')
    year = year.replace(',','.')

    year['Январь-декабрь_x'] = pd.to_numeric(year['Январь-декабрь_x'], errors='coerce')
    year['Январь-сентябрь_x'] = pd.to_numeric(year['Январь-сентябрь_x'], errors='coerce')
    year['Январь-июнь_x'] = pd.to_numeric(year['Январь-июнь_x'], errors='coerce')
    year['Январь-март_x'] = pd.to_numeric(year['Январь-март_x'], errors='coerce')
    year['Январь-декабрь_y'] = pd.to_numeric(year['Январь-декабрь_y'], errors='coerce')
    year['Январь-сентябрь_y'] = pd.to_numeric(year['Январь-сентябрь_y'], errors='coerce')
    year['Январь-сентябрь_y'] = pd.to_numeric(year['Январь-сентябрь_y'], errors='coerce')
    year['Январь-март_y'] = pd.to_numeric(year['Январь-март_y'], errors='coerce')
    
    year['Январь-декабрь_x'] = (year['Январь-декабрь_x'] - year['Январь-сентябрь_x'])*1000
    year['Январь-сентябрь_x'] = (year['Январь-сентябрь_x'] - year['Январь-июнь_x'])*1000
    year['Январь-июнь_x'] = (year['Январь-июнь_x'] - year['Январь-март_x'])*1000
    year['Январь-март_x'] = year['Январь-март_x']*1000
    year['Январь-декабрь_y'] = (year['Январь-декабрь_y'] - year['Январь-сентябрь_y'])*1000
    year['Январь-сентябрь_y'] = (year['Январь-сентябрь_y'] - year['Январь-июнь_y'])*1000
    year['Январь-июнь_y'] = (year['Январь-июнь_y'] - year['Январь-март_y'])*1000
    year['Январь-март_y'] = year['Январь-март_y']*1000

    q1= year[['Unnamed: 0','Январь-март_x','Январь-март_y']].rename(columns={'Unnamed: 0':'country','Январь-март_x':'incoming','Январь-март_y':'outgoing'})
    q1['date'] = pd.to_datetime('30-03-'+str(a),dayfirst=True)

    q2= year[['Unnamed: 0','Январь-июнь_x','Январь-июнь_y']].rename(columns={'Unnamed: 0':'country','Январь-июнь_x':'incoming','Январь-июнь_y':'outgoing'})
    q2['date'] = pd.to_datetime('30-06-'+str(a),dayfirst=True)

    q3= year[['Unnamed: 0','Январь-сентябрь_x','Январь-сентябрь_y']].rename(columns={'Unnamed: 0':'country','Январь-сентябрь_x':'incoming','Январь-сентябрь_y':'outgoing'})
    q3['date'] = pd.to_datetime('30-09-'+str(a),dayfirst=True)

    q4= year[['Unnamed: 0','Январь-декабрь_x','Январь-декабрь_y']].rename(columns={'Unnamed: 0':'country','Январь-декабрь_x':'incoming','Январь-декабрь_y':'outgoing'})
    q4['date'] = pd.to_datetime('30-12-'+str(a),dayfirst=True)

    data = pd.concat([data,q1,q2,q3,q4])

2016

C:\Users\user\AppData\Local\Temp\ipykernel_18596\2531573458.py:51: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  data = pd.concat([data,q1,q2,q3,q4])

2017

2018

2019

2020

2021

2022

2023

2024

2025

In [6]:
data

         date                      country  incoming  outgoing
0  2016-03-30                     Абхазия   94858.00 631674.00
1  2016-03-30                    Австралия   2312.00       NaN
2  2016-03-30                      Австрия   6964.00  43021.87
3  2016-03-30                  Азербайджан 216044.00 106128.00
4  2016-03-30                    Аргентина   1323.00       NaN
..        ...                          ...       ...       ...
77 2025-12-30                 Южная Осетия       NaN       NaN
78 2025-12-30  Южно-Африканская Республика       NaN       NaN
79 2025-12-30                       Япония       NaN       NaN
80 2025-12-30             из них в страны:       NaN       NaN
81 2025-12-30             из них из стран:       NaN       NaN

[3224 rows x 4 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3224 entries, 0 to 81
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3224 non-null   datetime64[ns]
 1   country   3224 non-null   object
 2   incoming  2462 non-null   float64
 3   outgoing  2439 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 125.9+ KB

In [8]:
data = data[data['country'] != 'из них из стран:']
data = data[data['country'] != 'из них в страны:']
data = data[data['country'] != '* Без учета статистической информации по Донецкой Народной Республике (ДНР), Луганской Народной Республике (ЛНР), Запорожской и Херсонской областям']
data = data[data['country'] != '1) Данные уточнены в связи с внесением изменений в Официальную статистическую методологию оценки числа въездных и выездных туристских поездок, утвержденную приказом Росстата от 31 октября 2019 г. № 640 (с изменениями от 12.11.2020 №692)']

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3124 entries, 0 to 79
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      3124 non-null   datetime64[ns]
 1   country   3124 non-null   object
 2   incoming  2462 non-null   float64
 3   outgoing  2439 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 122.0+ KB

In [10]:
round((data[data['country'] == 'Всего']['incoming'].sum() - data[data['country'] != 'Всего']['incoming'].sum())/data[data['country'] == 'Всего']['incoming'].sum(),4)

0.0002

In [11]:
round((data[data['country'] == 'Всего']['outgoing'].sum() - data[data['country'] != 'Всего']['outgoing'].sum())/data[data['country'] == 'Всего']['outgoing'].sum(),4)

-0.0

In [13]:
data.to_excel('Дашборд по туризму/tourism_quarter.xlsx', index=False)